<h1>Meme App</h1>

<% if @current_user.present? %>
  <p>Welcome back, <%= @current_user.firstname %></p>

  <%= form_for(@post, :html => { :multipart => true }) do |f|  %>
    <%= f.file_field :image %>
    <%= f.text_field :content, :placeholder => 'Post a meme', :class => 'post_text_field' %>
    <%= f.submit "Post" %>
  <% end %>

  <!-- First let's check to see if there are any posts to display. -->
  <% if @posts.first.present? %>
      <!-- Now loop through all the posts. -->
    <% @posts.each do |post| %>
      <div class="post">
        <!-- First lets check if there is an image the content. -->
        <% if post.image.present? %>
          <%= image_tag post.image %>
        <% end %>
        <!-- Now let's add the caption -->
        <p><%= post.content %></p>
        <p><%= link_to post.user.username, post.user %></p>
        <p><i><%= post.created_at.strftime("%e %B, %Y, %X") %></i></p>
        <!-- Now let's first show the amount of likes, then add an option to like. -->
        <p><%= post.likes.count %> likes</p>
        <%= form_for @like do |f| %>
          <%= hidden_field_tag :post_id, post.id %>
          <%= f.button "Like" %>
        <% end %><br>
        <!-- Now check to see if there are any comments -->
        <% if post.comments.last.present? %>
          <p><i>Comments:</i></p>
          <ul>
            <!-- Loop through all the comments and print them bulleted underneath the post -->
            <% post.comments.each do |comment| %>
              <li><%= comment.content %> | By <%= link_to comment.user.username, comment.user %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_for @comment do |f| %>
          <%= hidden_field_tag :post_id, post.id %>
          <%= f.text_field :content, :placeholder => 'Write a comment...', :class => 'comment-text-field' %>
          <%= f.submit "Comment", :class => "comment-button" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>There are no posts to show.</p>
  <% end %>
<% end %>
